<div class="container content">

  <div class="page-header">
      <div class="container">
        <h1>Ruteo Simple</h1>
        <div class="navLinks">
            <a [routerLink]="['home']">Inicio </a>
            <a [routerLink]="['destino']">/Destino </a>
        </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1>{{title}}</h1>
        </div>
      </div>
  </div>
  <hr>
  
  <router-outlet></router-outlet>
</div>
<hr class="mb-5">
Fecha {{time | async}}

