<div class="card-content">
  <div class="card-img">
    <img src="assets/img/servidor-dns.png">
    <span class="offset-md-1">
      <h4>{{position}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servicios</p>
    <ul>
        <li *ngFor="let s of destino.servicios">
          <span [ngSwitch]="s">
          <i *ngSwitchCase="'desayuno'" style="color: red">{{s}}</i>
          <i *ngSwitchDefault>{{s}}</i>
          </span>
        </li>
    </ul>
    <div class="offset-md-10">
       <a href="#" (click)="voteUp()"><i class="material-icons">thumb_up</i></a>
       <a href="#" (click)="voteDown()"><i class="material-icons">thumb_down</i></a>
       {{destino.votes}}
    </div>
    <a href="#" class="btn-card" (click)=ir()>Ir</a>
    <span *ngIf="destino.isSelected()"><strong ngNonBindable> {{PREFERIDO}} </strong> </span>
  </div>
</div>
